<div class="header">
  <h1>Craigslist Clone</h1>
</div>

{{city-new saveCity="saveCity"}}

<div class="container cities">
  {{#each model.cities as |city|}}
    <p>{{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</p>
  {{/each}}
</div>
